m2r
numpy
scipy
ping3
libpci
cython
psutil
pyyaml
pytest
pytest-cov
pytest-excel
pytemperature
pydoc-markdown==2.1.3
PySimpleGUI
py-cpuinfo
pylspci
openpyxl
pyserial==2.7
quarchpy
sphinx
sphinx_rtd_theme
matplotlib
